body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    background: url(boy.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.wrapper{
    border: solid;
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    width: 80%; 
    max-width: 350px;
    animation-name: glow;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}
.myp{
    font-size: 25px;
    color: white;
}
#myhome{
    color: white;
    font-size: large;
}
.div-section{
    padding: 15px;
}
.btn1{
    border-radius: 15px;
    padding: 6px;
    margin-right: 25px;
    background-color: black;
    color: white;
}
.btn2{
    border-radius: 15px;
    padding: 6px;
    margin-left: 25px;
    background-color: black;
    color: white;
}
.div-section input{
    height: 20px;
    border-radius: 15px;
    padding: 10px;
    background: transparent;
    color: white;
}
.div-section input:focus{
    border: 2px solid rgb(255, 255, 255)!important;
    box-shadow: 0px 0px 10px white!important;
    outline: none!important;
}
.div-section input::placeholder{
    color: white;
}
.div-section i{
    padding: 5px;
    color: white;
}
.btns button{
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
}
.btns button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.5s;
}
.btns button:not(:hover){
    background-color: black;
    color: white;
    transition: 0.5s;
}
@keyframes glow {
    50% {box-shadow: 0px 0px 30px white;}
}